body {
  height: 100vh;
  background: linear-gradient(to bottom, gold, skyblue);
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  text-transform: uppercase;
  color: white;
  background: url(https://images.unsplash.com/photo-1665479000396-09572a9322d6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=687&q=80);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: darkblue;
  font-size: 5em;
  letter-spacing: 5px;
  animation: bg 5s infinite alternate linear;
}

@keyframes bg {
  from {
    background-position: 50% 50%;
  }
  to {
    background-position: 50% 5%;
  }
}
